#aboutme{
    padding-bottom: 10px;
}

#projects{
    padding-top: 10px;
}

.letraGrandeOscura{
    font-size: 20px ;
    color: #616161 ;
}

.blue-text{
    font-size: 20px ;
    color: rgb(64, 64, 213) ;
}